* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background: wheat;
}

header {
  background: rgb(12, 102, 138);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header h1 {
  padding: 10px;
  text-align: center;
  font-size: 50px;
  color: #fff;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}

nav a {
  text-decoration: none;
  padding: 40px;
  margin: 20px;
  color: seashell;
  font-size: 25px;
}

article p {
  font-size: 22px;
}
p {
  font-size: 18px;
  font-family: sans-serif;
  padding: 5px;
  margin: 25px;
}

footer {
  background: rgb(12, 102, 138);
  text-align: center;
  color: white;
  margin-top: auto;
  padding: 20px;
  font-size: 30px;
}

footer a {
  text-align: center;
  font-size: 25px;
}
/* Style for profile picture and paragraphs */
.info {
  display: flex;
}

#profilePicture:hover {
  transform: scale(1.1);
}
/* Hover on 3 cards, pictures will be larger */
.card:hover {
  transform: scale(1.1);
}

.products {
  background-color: white;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#profilePicture {
  width: 200px;
  height: auto;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
  transform: rotate(8deg);
  width: 25%;
  height: 100%;
  justify-content: center;
}
/* Prevent link access from modifying the text style */
.link {
  text-decoration: none;
}

.card header {
  border-radius: 50px 50px 0px 0px;
  padding: 20px;
  color: white;
  font-size: 20px;
}

.card p {
  text-align: center !important ;
  color: black;
}
/* Images in the cards have 100% width */
.card img {
  width: 100%;
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    padding: 10px;
  }
}

/* Large smartphones - header changes color */
@media screen and (max-width: 768px) {
  header {
    background-color: #bb8588;
  }
}

/* Small smartphones - header changes color */
@media screen and (max-width: 576px) {
  header {
    background-color: #8ac4ff;
  }
}
